@import '../../../globals.scss';

.card {
	display: grid;
	grid-template-columns: min-content auto;
	gap: $gap10;
	grid-template-areas: 
	"user answer";
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: $gap10;
	margin-bottom: 20px;
	background-color: $cardColor;

	& > div {
		border-radius: 5px;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}

	&:last-child {
		margin-bottom: 0;
	}
}

form.card {
	grid-template-areas: 
	"user answer"
	"button button";
}

.submitButton {
	@extend %button;
	grid-area: button;
}

.avatar {
	display: block;
	background-color: $innerColor;
	aspect-ratio: 1/1;
	height: min(15vw, 150px);
	border-radius: 10%;
}

.userName {
	display: block;
	text-align: center;
	font-size: min(4vw, 17px);
	margin-block: 5px;
}

.userInfo {
	grid-area: user;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: $secondaryColor;
	padding: $gap10;
}

.userAnswer {
	background-color: $secondaryColor;
	display: block;
	grid-area: answer;
	padding: $gap10;
}

textarea.userAnswer {
	@extend %textArea;
}

.comment {
	font-size: min(4vw, 17px);
}

@media screen and (max-width: 620px) {
	.card {
		grid-template-areas: 
		"user"
		"answer";
		grid-template-columns: none;
		grid-template-rows: min-content auto;
	}
	form.card {
		grid-template-areas: 
		"user"
		"answer"
		"button" !important;
		grid-template-columns: none;
		grid-template-rows: min-content auto;
	}
	textarea.userAnswer {
		height: 200px;
	}
	.userInfo {
		flex-direction: row;
		padding: 5px $gap10;
	}
	.userName {
		flex-grow: 1;
	}
}
