CLIENT_PORT=3000
SERVER_PORT=3001

POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432

JWT_SECRET=WIRAvR49y58t7Y2wAjH2okslFayRojRt
JWT_EXPIRES_IN=14d
JWT_COOKIE_EXPIRES_IN=14

YANDEX_CLIENT_ID=8fdb0a93937d4e668ef80c78857b850b
YANDEX_CLIENT_SECRET=1f35d0e19bd24329a918e7214b9b4561
PATH_STATIC=../client
REDIRECT_URI=https://england-snake-21.ya-praktikum.tech
