@import '../globals.scss';
@import '../../../const/globals.scss';

body {
	margin: 0;
}

.forumListContainer {
	height: 100vh;
	background-color:  var(--primary);
}

.forumCircle {
	height: 100vh;
    background: radial-gradient(var(--curcle-color), transparent);
}

.forumList, .forumList * {
	margin: 0;
	box-sizing: border-box;
	word-break: break-all;
}

.forumList {
	padding: $gap10;
	margin-inline: auto;
    width: min(900px, 100%);
}

.header {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	color: var(--background-color);
	padding: 15px 0;
	border-bottom: 1px solid var(--secondary);
}

.headerContent {
	display: flex;
	gap: 20px;
}

.backButton {
	background-image: url('../../../assets/img/backButton.svg');
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.addLabel {
	background-image: url('../../../assets/img/addButton.svg');
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.link:not(.link:last-child) {
	margin-bottom: $gap10;
}

.noChats {
	margin-top: $gap10;
	color: var(--background-color);
	display: block;
}

.link {
	display: flex;
	padding: 15px 0;
	color: var(--text-color);
	text-decoration: none;
	cursor: pointer;
	font-size: 20px;
	border-bottom: 1px solid var(--secondary);

	
	&:hover {
		color: var(--secondary);
		border-bottom: 1px solid var(--secondary);
		box-shadow: 0px 4px 6px -6px var(--shadow-color);
	}
}
