@import '../globals.scss';

.forum, .forum * {
	margin: 0;
	box-sizing: border-box;
	word-break: break-all;
}

.forumWrapper {
	position: absolute;
	height: 100%;
	width: 100%;
}

.forum {
	display: flex;
	flex-direction: column;
    width: min(900px, 100%);
	padding: $gap10;
	// display: flex;
    // flex-direction: column;
	margin-inline: auto;
	font-size: min(4vw, 17px);
	min-height: 100%;
}

.header {
	width: 100%;
	font-size: clamp(7px, 2.4vw, 15px);
	height: min(110px, 21vw);
	background-color: $containerColor;
	padding: $gap10;
}

.headerContent {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

.main {
	flex-grow: 1;
	margin-block: 25px;
	background-color: lighten($containerColor, 4);
	padding: $gap10;

	ul {
		list-style: none;
		padding: 0;
	}
}

.footer {
	height: 50px;
	background-color: $innerColor;
}

.noAnswers  {
	padding-inline: $gap10;
	padding-block: $gap10;
	margin-bottom: $gap10;
	background-color: $cardColor;
	border-radius: 5px;
}
