.card {
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fafafa;
  text-align: center;

  .card_img {
    width: 100px;
    height: 100px;
    align-self: center;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
  }
}
