@import '../../../../globals.scss';

.userName {
	display: block;
	text-align: center;
	font-size: min(4vw, 17px);
	margin-block: 5px;
}

.userInfo {
	grid-area: user;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: $secondaryColor;
	padding: $gap10;
}

.userAnswer {
	background-color: $secondaryColor;
	display: block;
	grid-area: answer;
	padding: $gap10;
}

textarea.userAnswer {
	@extend %textArea;
}

.avatar {
	display: block;
	background-color: $innerColor;
	aspect-ratio: 1/1;
	height: min(15vw, 150px);
	border-radius: 10%;
}

.comment {
	font-size: min(4vw, 17px);
}
