@import '../../../../globals.scss';

.userName {
	display: block;
	text-align: center;
	font-size: min(4vw, 17px);
	margin-block: 5px;
}

.userInfo {
	grid-area: user;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: var(--primary);
	border-radius: 20px;
	padding: 15px 20px;
}

.userAnswer {
	background-color: var(--small-text-bg);
	border: 1px solid var(--primary);
	color: var(--small-text-color);
	border-radius: 20px;
	display: block;
	grid-area: answer;
	padding: 20px;
}

textarea.userAnswer {
	@extend %textArea;
	background-color: var(--small-text-bg);
	color: var(--small-text-color);
}

.avatar {
	display: block;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	object-fit: cover;
}

.comment {
	font-size: min(4vw, 17px);
}
