@import '../../../../../const/globals.scss';

.screenStart {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10%;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;


  &Score {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &Choice {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
  }
  
  &Item {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  &Button {
    border: none;
    background-color: var(--settings-color);
    color: var(--background-color);
    border-radius: 10px;
    padding-inline: 15px;
    flex-basis: 55px;
  }
}

.footer {
  flex: 0 1 auto;
  padding-bottom: 15%;
}

.buttonStart {
  border: none;
  background: var(--background-color);
  padding: 15px;
  min-width: 180px;
  border-radius: 15px;
  color: var(--text-color);
  box-shadow: 5px 5px 0px 0px var(--start-button-shadow);
}

.score {
  display: flex;
  justify-content: center;

  &Icon {
    img {
      width: 40px;
      height: 40px;
    }
  }

  &Counter {
    display: flex;
    margin-bottom: 20px;

    &Count {
      margin-left: 15px;
      font-size: 26px;
      font-weight: bold;
      color: var(--background-color);
    }
  }
}

.settings {
  position: absolute;
  top: 5%;
  right: 5%;

  &Btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--settings-color);
    background: var(--settings-background-color);
    border-radius: 15px;
    width: 65px;
    height: 65px;
    box-shadow: 2px 2px 0px 0px var(--start-color);

    img {
      width: 50px;
      height: 50px;
    }
  }
}
