@import '../../const/globals.scss';

.inputLabel {
  color: var(--primary);
  margin-left: 5px;
}

.inputControl {
  border-radius: 10px;
  padding-left: 10px;
  border-color: var(--primary);
  
  &:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 0.25rem var(--shadow-color);
  }
}

.inputFeedback {
  padding-left: 15px;
}
