@import '../globals.scss';

body {
	margin: 0;
}

.forumList, .forumList * {
	margin: 0;
	box-sizing: border-box;
	word-break: break-all;
}

.forumList {
	background-color: $containerColor;
	padding: $gap10;
	margin-inline: auto;
    width: min(900px, 100%);
}

.link:not(.link:last-child, .link:first-child) {
	margin-block: $gap10;
}

.link {
	display: block;
	background-color: $secondaryColor;

	a {
		display: flex;
		align-items: center;
		height: 100%;
		text-decoration: none;
		padding: $gap10;
	}
}
