@import '../globals.scss';

body {
	margin: 0;
}

.forumList, .forumList * {
	margin: 0;
	box-sizing: border-box;
	word-break: break-all;
}

.forumList {
	background-color: $containerColor;
	padding-inline: 10px;
	padding-block: 10px;
}

.link:not(.link:last-child, .link:first-child) {
	margin-block: 10px;
}

.link {
	display: block;
	height: 50px;
	background-color: $secondaryColor;

	a {
		display: flex;
		align-items: center;
		height: 100%;
		text-decoration: none;
	}
	p {
		margin-left: 10px;
	}
}
