@import '../../../../../../const/globals.scss';

.footer {
  display: flex;
  justify-content: space-between;
}

.buttonDanger {
  border-radius: 20px;
  padding-inline: 30px;
}

.buttonSave, .buttonCancel {
  padding-inline: 50px;
  border: 1px solid transparent;
  border-radius: 20px;

  &:hover {
    background-color: var(--background-color);
    border: 1px solid var(--primary);
    color: var(--primary);
  }
}

.buttonSave {
  background-color: var(--secondary);
}

.buttonCancel {
  background-color: var(--primary);
}
