@import '../../../../../../const/globals.scss';

.footer {
  display: flex;
  justify-content: space-between;
}

.buttonDanger {
  border-radius: 20px;
  padding-inline: 30px;
}

.buttonSave, .buttonCancel {
  padding-inline: 50px;
  border: 1px solid transparent;
  border-radius: 20px;

  &:hover {
    background-color: $white;
    border: 1px solid $deep-green;
    color: $deep-green;
  }
}

.buttonSave {
  background-color: $yellow;
}

.buttonCancel {
  background-color: $deep-green;
}
