.form {
  background-color: #fefefe;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 20px 0 rgba(237, 75, 109, 0.7);
  
  .form__title {
    margin-bottom: 30px;
    text-align: center;
    color: #ed4b6d;
  }
  
  .form__submit {
    background-color: rgba(19, 10, 53, 0.85);
    border: none;
    border-radius: 20px;
    padding: 12px 37px;
    line-height: 1;
    color: #fefefe;
    
    &:hover {
      background-color: #130A35;
    }
  }
  
  .form__link {
    font-size: 14px;
    color: rgba(19, 10, 53, 0.85);
    text-decoration: none;
    
    &:hover {
      color: #130A35;
      text-decoration: underline;
    }
  }
}