.fsContainer {
  position: relative;
  
  &:fullscreen {
    background-color: var(--primary);
  }
}

.fsButton {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--fs-button);
  border-radius: 10px;
  width: 45px;
  height: 45px;
  border: none;

    img {
      width: 30px;
      height: 30px;
    }
}
