.form {
  background-color: #fefefe;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 20px 0 rgba(255, 195, 0, 1);
  
  .formTitle {
    margin-bottom: 30px;
    text-align: center;
    color: #24440F;
  }
  
  .formSubmit {
    background-color: #FFC300;
    border: none;
    border-radius: 20px;
    padding: 12px 37px;
    line-height: 1;
    color: #24440F;
    
    &:hover {
      background-color: #24440F;
      color: #FFF;
    }
  }
  
  .formLink {
    font-size: 14px;
    color: #24440F;
    text-decoration: none;
    
    &:hover {
      color: #d5a400;
      text-decoration: underline;
    }
  }
}
