@import '../../../../const/globals.scss';

.profile {
  background-color: $deep-green;
  min-height: 100vh;
}

.profileCircle {
  min-height: 100vh;
  background: radial-gradient(rgba($background-circle, 0.25), transparent);
}

.container {
  width: 70vw;
  margin-bottom: 60px;
  
  &:last-child {
    margin-bottom: 30px;
  }
}

.title {
  color: $yellow;
  text-align: center;
}

.wrapper {
  padding-block: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: auto;
  
  &:not(:last-child) {
    padding-bottom: 20px;
  }
}

.formAvatar {
  width: 130px;
  height: 130px;
  border: none;
  background-color: $grey;
  border-radius: 50%;
  align-self: center;

  &:hover {
    background-color: #000;
    opacity: 0.5;
    cursor: pointer;
  }
}

.formBody {
  padding: 20px 0;
}

.formFooter {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.avatarImg {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.buttonSave,
.buttonCancel {
  min-width: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
  color: $deep-green;
  &:hover {
    background-color: $deep-green;
    color: $white;
  }
}

.buttonSave {
  background-color: $yellow;
}

.buttonCancel {
  background: $white;
  color: $deep-green;
}
