@import '../../const/globals.scss';

.entrance {
  background-color: $deep-green;
  padding: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  .entranceHeader {
    margin-bottom: 60px;
  }
  
  .entranceMain {
    flex-grow: 1;
  }
  
  .entranceContainer {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  
}
