$deep-green: #24440F;
$yellow: #FFC300;
$yellow-shadow: #E1C300;
$yellow-hover: #D5A400;
$pink: #D56774;
$pink-light: #F89BA8;
$green-light: #35400e;
$green-neutral: #50872C;
$white: #FFFFFF;
$grey: #FEFEFE;
$deep-dark-green: #163600;
$background-circle: #EAEA8C;
$text-color: #24440F;
$dark-purple: #130a35;
$magento: #ED4B6D;

$dark-green: rgba(57, 103, 9, 77%);
$light-dark: rgb(19 40 10 / 30%);
$dark: rgba(129, 175, 25, 0);
