$deep-green: #24440F;
$yellow: #FFC300;
$yellow-shadow: rgba(255, 195, 0, 1);
$yellow-hover: #D5A400;
$pink: #D56774;
$pink-light: #F89BA8;
$green-light: #87AC05;
$green-neutral: #50872C;
$white: #FFFFFF;
$grey: #FEFEFE;
$background-circle: #EAEA8C;

$gap10: min(10px, 2vw);
