@import '../../../../const/globals.scss';

.board {
  background-color: var(--primary);
  min-height: 100vh;
}

.boardCircle {
  background: radial-gradient(var(--curcle-color), transparent);
  min-height: 100vh;
}

.container {
  width: 70vw;
  gap: 20px;

  .wrapperBottom {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

h1, h2 {
  color: var(--secondary);
}

.table {
  box-shadow: 0px -6px 12px 0px var(--shadow-color);
}
