@import '../../../../utils/const/globals.scss';

.board {
  background-color: $deep-green;
  min-height: 100vh;
}

.boardCircle {
  background: radial-gradient(rgba($background-circle, 0.25), transparent);
  min-height: 100vh;
}

.container {
  width: 70vw;
  gap: 20px;

  .wrapperBottom {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

h1, h2 {
  color: $yellow;
}

.table {
  box-shadow: 0px -6px 12px 0px $yellow-shadow;
}
