.themeToggler {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.themeDescription {
  margin: 0;
  margin-right: 20px;
}

.themeButton {
  border: none;
  background-color: var(--secondary);
  padding: 5px 15px;
  border-radius: 25px;
  color: var(--primary);
  
  &:hover {
    color: var(--background-color-dark);
    box-shadow: 0 2px 10px 0 var(--secondary-o70);
  }
  
  &:focus {
    outline: 2px solid var(--background-color-dark);
    box-shadow: 0 2px 10px 0 var(--secondary-o70);
  }
}
